<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzhh.server.mapper.CompetitorsMapper">


    <select id="selectByPage" resultType="com.gzhh.pojo.entity.Competitors" parameterType="com.gzhh.pojo.dto.PageDTO">
        select * from competitors
        <where>
            <if test="title!= null and title!=''">and title like concat('%',#{title}, '%')</if>
        </where>
    </select>
</mapper>
